<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <script src="../../static/script.js" type="module"></script>
    <title>Connexion</title>
</head>
<body>
    <div class="inscription-block">
        <div style="align-self: center; display: flex; flex-direction: column; align-items: center; color: var(--bleu);">
            <h1>Connexion</h1>
            <div class="stick"></div>
        </div>
        <form action="#">
            <label for="mail">Votre adresse email</label>
            <input type="email" id="mail" placeholder="monemail@gmail.com" required>

            <label for="pwd">Mot de passe</label>
            <input type="password" id="pwd" required>
            <a href="forgot_password.html"><h5 style="margin-top: 0; margin-bottom: 0; font-weight: 200; font-style: italic;">Mot de passe oublié</h5></a>

            <button class="blue-button">Se connecter</button>
        </form>
    </div>
    <page-footer></page-footer>
</body>
</html>