body{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
}

:root{
    --bleu: #163fa0;
    --orange: #f59528;
    --marron: #6F4E37;
    --orange_shadow: 0 6px 15px 2px #B45309;
    --blue_shadow: 0 6px 15px 2px #5e7cc2;
    --brown_shadow: 0 6px 15px 2px rgb(54, 3, 3);
    --min_width_buttons: 150px;
    --height_buttons: 40px;
    --width_header_icons: 30px;
    --height_header_icons: 30px;
    --width_block_icons: 250px;
    --height_block_icons: 250px;
    --radius_buttons: 20px;
}

@keyframes horizontal-apparition {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes vertical-apparition {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.blue-button{
    height: var(--height_buttons);
    min-width: var(--min_width_buttons);
    border-style: none;
    border-radius: var(--radius_buttons);
    background-color: var(--bleu);
    transition: 0.1s ease;
    color: white;
}

.blue-button:hover{
    box-shadow: var(--blue_shadow);
    transform: translateY(-2px);
}

.orange-button{
    height: var(--height_buttons);
    min-width: var(--min_width_buttons);
    border-style: none;
    border-radius: var(--radius_buttons);
    background-color: var(--orange);
    transition: 0.1s ease;
    color: white;
}

.orange-button:hover{
    box-shadow: var(--orange_shadow);
    transform: translateY(-2px);
}

.brown-button{
    height: var(--height_buttons);
    min-width: var(--min_width_buttons);
    border-style: none;
    border-radius: var(--radius_buttons);
    background-color: var(--brown);
    transition: 0.1s ease;
    color: white;
}

.brown-button:hover{
    box-shadow: var(--brown_shadow);
    transform: translateY(-2px);
}

a{
    text-decoration: none;
    color: inherit;
}

page-header{
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo{
    width: 75px;
    height: 100px;
    margin-left: 10px;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.header-buttons > a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: var(--radius_buttons);
    background-color: var(--marron);
    height: var(--height_buttons);
    min-width: var(--min_width_buttons);
    margin-right: 20px;
    transition: 0.1s ease;
}

.header-buttons > a:hover{
    box-shadow: var(--brown_shadow);
    transform: translateY(-2px);
}

.header-icon{
    width: var(--width_header_icons);
    height: var(--height_header_icons);
}

page-footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    align-items: center;
    color: white;
    background-color: black;
}

page-footer div{
    display: flex;
    gap: 100px;
}

.presentation-block{
    opacity: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: horizontal-apparition 1.5s ease forwards;
    animation-play-state: paused;
    color: white;
}

.presentation-block h2{
    margin-bottom: 40px;
}

page-block{
    opacity: 0;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    align-self: center;
    animation: vertical-apparition 1.5s forwards;
    animation-play-state: paused;
}

.block-child img{
    height: var(--height_block_icons);
    width: var(--width_block_icons);
}

.block-child{
    display: flex;
    text-wrap: wrap;
    white-space: pre-line;
    line-height: 2;
    justify-content: center;
    gap: 100px;
}