{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" type="module"></script>
    <title>IFRI MentorLink</title>
</head>
<body style="background-color: rgb(223, 223, 223);">
    <div style="background-image: url({% static 'images/mentoring.jpg' %}); background-size: 100% 100%; background-repeat: no-repeat; min-height: 500px;">
        <page-header variante="accueil"></page-header>
        <div class="presentation-block">
            <h1>IFRI MentorLink</h1>
            <h2>Trouve un mentor dans ta filière ou deviens celui qui guide les autres</h2>
            <h2 style="margin-top: 0;">Ici à l'IFRI, on progresse ensemble !</h2>
            <button class="blue-button" style="background-color: var(--bleu)"><a href="{% url 'inscription' %}">Commencer</a></button>
        </div>
    </div>

    <page-block titre = "Qui sommes-nous ?" 
    texte = "IFRI MentorLink est le premier système de mentorat pensé par et pour les étudiants de l'IFRI. Tu crées ton profil avec tes forces, tes difficultés et tes disponibilités et notre algorithme de compatibilité se charge de tout ! Chacun est mis en relation avec l'étudiant idéal : celui qui peut l'aider ou celui qui a besoin de lui."
    image = "{% static 'images/mentoring-icon.png' %}"></page-block>

    <page-block titre = "Comment ça marche ?"
    texte = "1. Crée ton profil
            En quelques minutes : matières maîtrisées, points à améliorer, filière, créneaux libres.
            2. Laisse faire l'algorithme
            On analyse la compatibilité des matières, filières et horaires. On te propose les meilleurs profils.
            3. Démarre ton mentorat
            Discute directement dans l'app, planifie tes séances et avance à ton rythme."
    image = "{% static 'images/mentoring-icon2.png' %}"></page-block>

    <page-block titre = "Pourquoi ça change tout ?"
    texte = "· Tu gagnes du temps : tu travailles directement avec quelqu'un qui est passé par là.
    · Tu cibles tes vraies lacunes : fini le tâtonnement seul, tu progresses plus vite.
    · Zéro recherche manuelle : l'app te trouve les meilleurs profils compatibles.
    · Toi aussi tu peux être mentor : transmettre, c'est réviser encore mieux.
    · Tout est intégré : messagerie, planning, suivi. Rien à installer ailleurs."
    image = "{% static 'images/graduation.png' %}"></page-block>

    <div style="align-self: center;">
        <button class="blue-button" style="margin-bottom: 40px;"><a href="{% url 'inscription' %}">Je m'inscris !</a></button>
    </div>

    <page-footer></page-footer>
</body>
</html>
