<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" type="module"></script>
    <title>IFRI MentorLink</title>
</head>
<body>
    <div class="inscription-block">
        <div style="align-self: center; display: flex; flex-direction: column; align-items: center; color: var(--bleu);">
            <h1>MODIFIER MOT DE PASSE</h1>
            <div class="stick"></div>
        </div>
        <form id="modify-password-form" action="#">
            <label for="mail">Veuillez entre votre adresse email</label>
            <input type="email" id="mail" placeholder="monemail@gmail.com" required>

            <button class="blue-button">Recevoir code</button>
        </form>
    </div>
    <page-footer></page-footer>
</body>
</html>