<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" type="module"></script>
    <title>IFRI MentorLink</title>
</head>
<body style="background-color: rgb(220, 217, 224);">
    <page-header></page-header>
    <hr>
    <div class="body-with-side-bar">
        <side-bar user-name="DJIDONOU Paul"></side-bar>
        <div class="body-without-side-bar">
            <div style="display: flex; flex-direction: column; align-items: center; align-self: center; color: black; animation: reverse-vertical-apparition 0.8s ease;">
                <h1>VOTRE ACTIVITÉ</h1>
                <div class="stick" style="background-color: black;"></div>
            </div>
            <div class="category">
            <h3>Matchs en cours</h3>
            <div class="stick"></div>
            <div class="category-blocks-box">
                <match-block student-nom="DJIDONOU" student-prenom="Marie-Véronique" mentor-nom="HOUENOU" mentor-prenom="Hughes" topic="Analyse" compatibility-score="70" status="validated"></match-block>
            </div>
        </div>
        <div class="category">
            <h3>En attente de validation</h3>
            <div class="stick"></div>
            <div class="category-blocks-box">
                <match-block student-nom="DJIDONOU" student-prenom="Paul" mentor-nom="HOUENOU" mentor-prenom="Hughes" topic="Algorithmique" compatibility-score="70" status="to-validate"></match-block>
            </div>
        </div>
        </div>
    </div>
</body>
</html>